In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as sk

In [2]:
data = pd.read_csv('H:/Data science/Practice/20 november/3. Multi Linear Regression/50_Startups.csv')
data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
df = data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [6]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

# With All Parameter (model_1)

In [7]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [59]:
x = df[['R&D Spend', 'Administration', 'Marketing Spend']]
y = df[['Profit']]

In [9]:
mlin = sk.LinearRegression()

In [10]:
w = mlin.fit(x,y)

In [11]:
w.coef_

array([[ 0.80571505, -0.02681597,  0.02722806]])

In [12]:
w.intercept_

array([50122.19298987])

In [13]:
w.score(x,y)

0.9507459940683246

In [14]:
w.predict(x)

array([[192521.25289008],
       [189156.76823227],
       [182147.2790962 ],
       [173696.70002553],
       [172139.51418327],
       [163580.7805712 ],
       [158114.09666865],
       [160021.36304781],
       [151741.69969865],
       [154884.68410995],
       [135509.01636714],
       [135573.71296074],
       [129138.05418243],
       [127487.99166275],
       [149548.64633453],
       [146235.1599852 ],
       [116915.40540144],
       [130192.44720781],
       [129014.2268059 ],
       [115635.21636716],
       [116639.6692309 ],
       [117319.45164029],
       [114706.98171695],
       [109996.61522126],
       [113362.96611314],
       [102237.72506481],
       [110600.5753503 ],
       [114408.07145684],
       [101660.02600497],
       [101794.98345176],
       [ 99452.37293606],
       [ 97687.85627575],
       [ 99001.32898549],
       [ 97915.00780465],
       [ 89039.27374116],
       [ 90511.59956753],
       [ 75286.17458546],
       [ 89619.5377079 ],
       [ 69697.43064804],
       [ 83729.01197692],
       [ 74815.95399105],
       [ 74802.55623866],
       [ 70620.41182056],
       [ 60167.03996335],
       [ 64611.3549157 ],
       [ 47650.64968691],
       [ 56166.20685261],
       [ 46490.58898335],
       [ 49171.38815763],
       [ 48215.1341113 ]])

# With 'R&D Spend' & 'Administration' (model_2)

In [15]:
x= df[['R&D Spend', 'Administration']]
y= df[['Profit']]

In [16]:
mlin1 = sk.LinearRegression()

In [17]:
v= mlin1.fit(x,y)
v

LinearRegression()

In [18]:
v.coef_

array([[ 0.86211798, -0.05299543]])

In [19]:
v.intercept_

array([54886.62062756])

In [20]:
v.score(x,y)

0.9478129385009173

# With 'Administration' & 'Marketing Spend' (mode_3)

In [21]:
x=df[['Administration', 'Marketing Spend']]
y= df[['Profit']]

In [22]:
mlin2 = sk.LinearRegression()

In [23]:
t = mlin2.fit(x,y)

In [24]:
t.coef_

array([[0.32367271, 0.24884368]])

In [25]:
t.intercept_

array([20224.42905876])

In [26]:
t.score(x,y)

0.6097229746770664

# With 'R&D Spend' & 'Marketing Spend' (model_4)

In [27]:
x = df[['R&D Spend','Marketing Spend']]
y = df[['Profit']]

In [28]:
mlin3= sk.LinearRegression()

In [29]:
s = mlin3.fit(x,y)
s

LinearRegression()

In [30]:
s.coef_

array([[0.79658404, 0.02990788]])

In [31]:
s.intercept_

array([46975.86422072])

In [32]:
s.score(x,y)

0.9504503015559763

# Above all of the model, The best model is model_1 which is 'With All   Parameter' because the score value is near to 1

In [58]:
x1 = float(input('Enter the value of R&D Spend '))
x2 = float(input('Enter the value of Administration '))
x3 = float(input('Enter the value of Marketing Spend '))
pred_profit = w.coef_[0][0]*x1 + w.coef_[0][1]*x2 + w.coef_[0][2]*x3 + w.intercept_
print('The predicted profit is ',pred_profit)

Enter the value of R&D Spend 165349.20
Enter the value of Administration 136897.80
Enter the value of Marketing Spend 471784.10
The predicted profit is  [192521.25289008]

In [60]:
df['pred_profit'] = w.predict(x) # firtst run x any y which is in model_1 then run this cell

In [61]:
df

,R&D Spend,Administration,Marketing Spend,State,Profit,pred_profit
0,165349.20,136897.80,471784.10,New York,192261.83,192521.252890
1,162597.70,151377.59,443898.53,California,191792.06,189156.768232
2,153441.51,101145.55,407934.54,Florida,191050.39,182147.279096
3,144372.41,118671.85,383199.62,New York,182901.99,173696.700026
4,142107.34,91391.77,366168.42,Florida,166187.94,172139.514183
5,131876.90,99814.71,362861.36,New York,156991.12,163580.780571
6,134615.46,147198.87,127716.82,California,156122.51,158114.096669
7,130298.13,145530.06,323876.68,Florida,155752.60,160021.363048
8,120542.52,148718.95,311613.29,New York,152211.77,151741.699699
9,123334.88,108679.17,304981.62,California,149759.96,154884.684110
10,101913.08,110594.11,229160.95,Florida,146121.95,135509.016367
11,100671.96,91790.61,249744.55,California,144259.40,135573.712961
12,93863.75,127320.38,249839.44,Florida,141585.52,129138.054182
13,91992.39,135495.07,252664.93,California,134307.35,127487.991663
14,119943.24,156547.42,256512.92,Florida,132602.65,149548.646335
15,114523.61,122616.84,261776.23,New York,129917.04,146235.159985
16,78013.11,121597.55,264346.06,California,126992.93,116915.405401
17,94657.16,145077.58,282574.31,New York,125370.37,130192.447208
18,91749.16,114175.79,294919.57,Florida,124266.90,129014.226806
19,86419.70,153514.11,0.00,New York,122776.86,115635.216367
20,76253.86,113867.30,298664.47,California,118474.03,116639.669231
21,78389.47,153773.43,299737.29,New York,111313.02,117319.451640
22,73994.56,122782.75,303319.26,Florida,110352.25,114706.981717
23,67532.53,105751.03,304768.73,Florida,108733.99,109996.615221
24,77044.01,99281.34,140574.81,New York,108552.04,113362.966113
25,64664.71,139553.16,137962.62,California,107404.34,102237.725065
26,75328.87,144135.98,134050.07,Florida,105733.54,110600.575350
27,72107.60,127864.55,353183.81,New York,105008.31,114408.071457
28,66051.52,182645.56,118148.20,Florida,103282.38,101660.026005
29,65605.48,153032.06,107138.38,New York,101004.64,101794.983452
30,61994.48,115641.28,91131.24,Florida,99937.59,99452.372936
31,61136.38,152701.92,88218.23,New York,97483.56,97687.856276
32,63408.86,129219.61,46085.25,California,97427.84,99001.328985
33,55493.95,103057.49,214634.81,Florida,96778.92,97915.007805
34,46426.07,157693.92,210797.67,California,96712.80,89039.273741
35,46014.02,85047.44,205517.64,New York,96479.51,90511.599568
36,28663.76,127056.21,201126.82,Florida,90708.19,75286.174585
37,44069.95,51283.14,197029.42,California,89949.14,89619.537708
38,20229.59,65947.93,185265.10,New York,81229.06,69697.430648
39,38558.51,82982.09,174999.30,California,81005.76,83729.011977
40,28754.33,118546.05,172795.67,California,78239.91,74815.953991
41,27892.92,84710.77,164470.71,Florida,77798.83,74802.556239
42,23640.93,96189.63,148001.11,California,71498.49,70620.411821
43,15505.73,127382.30,35534.17,New York,69758.98,60167.039963
44,22177.74,154806.14,28334.72,California,65200.33,64611.354916
45,1000.23,124153.04,1903.93,New York,64926.08,47650.649687
46,1315.46,115816.21,297114.46,Florida,49490.75,56166.206853
47,0.00,135426.92,0.00,California,42559.73,46490.588983
48,542.05,51743.15,0.00,New York,35673.41,49171.388158
49,0.00,116983.80,45173.06,California,14681.40,48215.134111

# State wise model with considering all parameter

# New York

In [34]:
df.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [35]:
dfn = df[df['State']=='New York']

In [36]:
dfn

    R&D Spend  Administration  Marketing Spend     State     Profit
0   165349.20       136897.80        471784.10  New York  192261.83
3   144372.41       118671.85        383199.62  New York  182901.99
5   131876.90        99814.71        362861.36  New York  156991.12
8   120542.52       148718.95        311613.29  New York  152211.77
15  114523.61       122616.84        261776.23  New York  129917.04
17   94657.16       145077.58        282574.31  New York  125370.37
19   86419.70       153514.11             0.00  New York  122776.86
21   78389.47       153773.43        299737.29  New York  111313.02
24   77044.01        99281.34        140574.81  New York  108552.04
27   72107.60       127864.55        353183.81  New York  105008.31
29   65605.48       153032.06        107138.38  New York  101004.64
31   61136.38       152701.92         88218.23  New York   97483.56
35   46014.02        85047.44        205517.64  New York   96479.51
38   20229.59        65947.93        185265.10  New York   81229.06
43   15505.73       127382.30         35534.17  New York   69758.98
45    1000.23       124153.04          1903.93  New York   64926.08
48     542.05        51743.15             0.00  New York   35673.41

In [37]:
dfn.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [38]:
x = dfn[['R&D Spend', 'Administration', 'Marketing Spend']]
y = dfn[['Profit']]

In [39]:
n = sk.LinearRegression()

In [40]:
n.fit(x,y)

LinearRegression()

In [41]:
n.coef_

array([[0.75206935, 0.02522624, 0.02231501]])

In [42]:
n.intercept_

array([48804.09134713])

In [43]:
n.score(x,y)

0.9554635470916312

# California

In [44]:
dfc = df[df['State']=='California']

In [45]:
x = dfc[['R&D Spend', 'Administration', 'Marketing Spend']]
y = dfc[['Profit']]

In [46]:
c = sk.LinearRegression()

In [47]:
c.fit(x,y)

LinearRegression()

In [48]:
c.coef_

array([[0.81178612, 0.01831775, 0.06209629]])

In [49]:
c.intercept_

array([37870.0547163])

In [50]:
c.score(x,y)

0.9617451377483132

# Florida

In [51]:
dff = df[df['State']=='Florida']

In [52]:
x = dff[['R&D Spend', 'Administration', 'Marketing Spend']]
y = dff[['Profit']]

In [53]:
f = sk.LinearRegression()

In [54]:
f.fit(x,y)

LinearRegression()

In [55]:
f.coef_

array([[ 0.81385258, -0.12777446,  0.00309665]])

In [56]:
f.intercept_

array([67869.65758237])

In [57]:
f.score(x,y)

0.9499536723567633